<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoreload="true" throwexceptions="false" internalloglevel="Off" internallogfile="c:\temp\nlog-internal.log">

    <targets async="true">

      <target name="file" xsi:type="File" layout="${longdate} ${message} ${exception:format=ToString}" filename="${basedir}/logs/logfile.txt" keepfileopen="false" encoding="UTF-8">

        <target name="data" xsi:type="Database" connectionstring="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\nikit\ItNLog\ItNLog\BaseBugs\Bugs.mdf;Integrated Security=True" keepconnection="false" dbprovider="mssql" commandtext="insert into BugsLog values(@message)">
          <parameter name="@message" layout="${longdate} ${message} ${exception:format=ToString}"></parameter>
        </target>

        <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}"></target>

      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeto="data, file"></logger>
    </rules>
  </nlog>
</nlog>