
<div ng-controller="HomeCtrl">

    @* Navigation *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    @* Intro *@
    <div class="jumbotron">
        <h1>ASP.NET</h1>
    </div>

    @* Country *@
    <div></div>

    @* Banner *@
    <div>

    </div>
    
    @* Feature *@
    <div ng-cloak>
        <div class="col-xs-6 col-md-3" ng-repeat="trail in trails">
            <a href="{{trail.Id}}" class="thumbnail" style="background-size:cover; background-image:url('Content/Images/{{trail.CoverPhoto != null ? trail.CoverPhoto : 'Default.jpg'}}')">
                <label ng-class="LabelDifficultClass">{{trail.Difficult}}</label><br/>
                <h3>{{trail.Country}}</h3><br />                
                {{trail.Name}}<br />
                {{trail.Distance}}<br />
                <div>
                    <ul>
                        <li>{{trail.Type}}</li>
                        <li>{{trail.DurationType}}</li>
                        <li>{{trail.GoodForKids}}</li>
                        <li>{{trail.DogAllowed}}</li>
                    </ul>
                </div>
            </a>

        </div>
    </div>


</div>

@section scripts{
    <script src="~/Scripts/Angular/ngHomeController.js"></script>
}