<div class="jumbotron">
    <h1>ASP.NET</h1>    
</div>

<div id="result" class="row">

</div>

<div class="row">
    <button onclick="getQuery()">Get</button>
    <button onclick="postQuery()">Post</button>
    <button onclick="putQuery()">Put</button>
    <button id="deleteBtn">Delete</button>
</div>

@section scripts{
    
<script>
    var getQuery = function () {
               

    }

    var postQuery = function () {
        alert(2);
    }

    var putQuery = function () {
        alert(3);
    }

    $("#deleteBtn").click(function () {
        $.ajax({
            type: "GET",
            url: "../api/Values/",
            success: function (result) {
                $("#result").html(result);
            }
        });
    });

</script>
}