

<div ng-controller="MainCtrl">
    <div ui-view></div>
</div>




@section scripts{
    
    <script src="~/Scripts/Angular/ngValidationController.js"></script>
    
   
    <script src="~/Scripts/Angular/ngValidationController.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"
            async defer></script>    
    <script src="~/Scripts/CustomJS/googlemaps.js"></script>
   
    <script src="~/Angular/app.module.js"></script>
    <script src="~/Angular/app.routes.js"></script>

    <script src="~/Angular/components/generic/mainController.js"></script>
    <script src="~/Angular/components/generic/iFilters.js"></script>
    
    <script src="~/Angular/components/home/homeController.js"></script>
    
    <script src="~/Angular/components/trail/trailController.js"></script>
    
    
}