@{    
    var id = (string)@ViewBag.TrailId;
}

<div ng-controller="TrailCtrl" ng-cloak>

    <span id="trailId" ng-show="false">@id</span>    

    @* Navigation *@
    <nav></nav>

    @*Data*@
    <section>
        {{trail.Name}}
    </section>

    @* Gallery *@
    <section>
        <div ng-repeat="img in trail.Photos">
            {{img}}
        </div>
    </section>

    @* Comments *@

    <section>
        <div ng-repeat="comment in trailComments">
            <div>{{comment.Name}}</div>
            <div>{{comment.Comment}}</div>
            <div>{{comment.Rate}}</div>            
        </div>
    </section>

</div>


@section scripts{
    <script src="~/Scripts/Angular/ngTrailController.js"></script>
}
    