@{    
    var id = (string)@ViewBag.TrailId;
}

<div ng-controller="TrailCtrl" ng-cloak>

    <span id="trailId" ng-show="false">@id</span>    

    @* Navigation *@
    <nav></nav>

    @* Gallery *@
    <div></div>



</div>


@section scripts{
    <script src="~/Scripts/Angular/ngTrailController.js"></script>
}
    