@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open sans/OpenSans-Semibold.ttf');
}

html * {
    font-size: 16px font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
}

.trail-section {
    background: #fff;
    padding: 15px 30px;
    margin-bottom: 25px;
}

.trail-main-body {
}

.trail-section-info {
}

    .trail-section-info .difficult-label {
        top: 0;
        left: 0;
        position: absolute;
        margin: 0;
        font-size: 16px;
        border-radius: 0;
    }

    .trail-section-info div {
        margin: 25px 0;
    }

    .trail-section-info .header-name {
        font-size: 48px;
    }

    .trail-section-info .div-option ul {
        list-style-type: none;
    }

        .trail-section-info .div-option ul li {
            margin: 10px;
        }

.trail-section-elevation {
   
}

    .trail-section-elevation .elevation-image {
        padding: 0;
        margin: 0 -25px;
        width: 100% + 50px;
    }

    .trail-section-elevation .elevation-image img{
        width: 100%;
    }
.trail-section-references {
}

    .trail-section-references ul {
        list-style-type: none;
    }







@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) {
}
