
#trail-body {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
/*!!!!!!!!! no white square*/
.gmnoprint {
    display: none;
}

/*Navigation by with flex*/
.trail-navbar {
    background: green;
    padding: 0 15px;
    border-radius: 0;
}

    .trail-navbar a {
        line-height: 2;
        color: #fff;
    }

.flex-navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
}

    .flex-navbar-container .flex-item-header {
        order: 2;
        width: 33%;
        text-align: center;
    }

        .flex-navbar-container .flex-item-header a {
            font-size: 22px;
        }

    .flex-navbar-container .flex-item-input {
        cursor: pointer;
    }

        .flex-navbar-container .flex-item-input input {
        }

        .flex-navbar-container .flex-item-input .glyphicon {
            padding: 0;
            position: relative;
            color: #fff;
        }

    .flex-navbar-container .flex-item-createtrail {
        order: 1;
        cursor: pointer;
    }


    .flex-navbar-container .flex-item-join {
        cursor: pointer;
    }
/*End flex navbar*/


.trail-section {
    background: #fff;
    padding: 15px 30px;
    margin-bottom: 25px;
}

.trail-main-body {
}

.trail-section-info {
}

    .trail-section-info .difficult-label {
        top: 0;
        left: 0;
        position: absolute;
        margin: 0;
        font-size: 16px;
        border-radius: 0;
    }

    .trail-section-info div {
        margin: 25px 0;
    }

    .trail-section-info .header-name {
        font-size: 48px;
    }

    .trail-section-info .div-option ul {
        list-style-type: none;
    }

        .trail-section-info .div-option ul li {
            margin: 10px;
        }

.trail-section-map {
}

    .trail-section-map div {
        width: 100%;
        height: 400px;
    }

.trail-section-elevation {
}

    .trail-section-elevation .elevation-image {
        padding: 0;
        margin: 0 -25px;
        width: 100% + 50px;
    }

        .trail-section-elevation .elevation-image img {
            width: 100%;
        }

.trail-section-references {
}

    .trail-section-references ul {
        list-style-type: none;
    }


.trail-section-comments ul {
    list-style-type: none;
}

    .trail-section-comments ul li {
        display: inline;
    }

        .trail-section-comments ul li img {
            width: 18px;
            height: 18px;
        }

/*Commetns*/

.btnPostComment{
    background: green;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}

.img-star{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 1px;
}        


.bannerWeather{
    margin: 20px 0;
}
.bannerWeather div{
    height:300px; 
}

.bannerWeather div img{
    background-size: cover;
}

/*Mobile*/
/**/
@media (max-width: 767px) {

    .flex-navbar-container .flex-item-header {
        order: 2;
        width: 80%;
        text-align: center;
    }

        .flex-navbar-container .flex-item-header a {
            font-size: 22px;
        }

    .flex-navbar-container .flex-item-input {
        order: 3;
        width: 10%;
        text-align: right;
    }

        .flex-navbar-container .flex-item-input input {
            display: none;
        }


    .flex-navbar-container .flex-item-createtrail {
        order: 1;
        width: 10%;
    }


    .flex-navbar-container .flex-item-join {
        display: none;
    }
}

/*Tablet*/
/********/

@media (min-width: 768px) and (max-width: 991px) {

    .flex-navbar-container .flex-item-header {
        order: 2;
        width: 33%;
        text-align: center;
    }

        .flex-navbar-container .flex-item-header a {
            font-size: 22px;
        }

    .flex-navbar-container .flex-item-input {
        order: 3;
        width: 33%;
        text-align: right;
    }

        .flex-navbar-container .flex-item-input input {
            display: none;
        }


    .flex-navbar-container .flex-item-createtrail {
        order: 1;
        width: 33%;
    }


    .flex-navbar-container .flex-item-join {
        display: none;
    }
}


/* Desktope */
/************/
@media (min-width: 992px) {
    .flex-navbar-container .flex-item-header {
        order: 1;
        width: 20%;
        text-align: center;
    }

        .flex-navbar-container .flex-item-header a {
            font-size: 22px;
        }

    .flex-navbar-container .flex-item-input {
        order: 2;
        width: 30%;
        margin: 0 10px;
    }

        .flex-navbar-container .flex-item-input input {
            width: 100%;
            padding: 5px 0;
        }

        .flex-navbar-container .flex-item-input .glyphicon {
            padding: 5px;
            position: absolute;
            color: #000;
        }

    .flex-navbar-container .flex-item-createtrail {
        order: 3;
        width: 30%;
    }

        .flex-navbar-container .flex-item-createtrail .trail-a-createtrail {
            padding: 7px;
            background: darkgreen;
        }

    .flex-navbar-container .flex-item-join {
        order: 4;
        width: 20%;
        text-align: right;
    }

        .flex-navbar-container .flex-item-join a {
        }
}
